# Node modules
node_modules/

# Env files
.env

# Uploaded files
uploads/
public/uploads/
public/videos/
public/images/

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE/editor config
.vscode/
.idea/

# Others
*.zip
*.rar